/* Protection contre les captures d'écran et téléchargements */
.video-protected {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  
  /* Empêcher la sélection de texte */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  
  /* Empêcher le glisser-déposer */
  -webkit-user-modify: none;
  -moz-user-modify: none;
  -ms-user-modify: none;
  user-modify: none;
  
  /* Masquer les éléments lors des captures */
  -webkit-filter: blur(0px);
  filter: blur(0px);
  
  /* Empêcher le zoom */
  touch-action: manipulation;
  
  /* Masquer le contenu lors des captures d'écran */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Empêcher l'impression */
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* Protection spécifique pour les vidéos */
video.video-protected {
  pointer-events: auto;
  outline: none;
  border: none;
  
  /* Empêcher le téléchargement */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Masquer les contrôles natifs */
  &::-webkit-media-controls {
    display: none !important;
  }
  
  &::-webkit-media-controls-panel {
    display: none !important;
  }
  
  &::-webkit-media-controls-play-button {
    display: none !important;
  }
  
  &::-webkit-media-controls-timeline {
    display: none !important;
  }
  
  &::-webkit-media-controls-current-time-display {
    display: none !important;
  }
  
  &::-webkit-media-controls-time-remaining-display {
    display: none !important;
  }
  
  &::-webkit-media-controls-mute-button {
    display: none !important;
  }
  
  &::-webkit-media-controls-volume-slider {
    display: none !important;
  }
  
  &::-webkit-media-controls-fullscreen-button {
    display: none !important;
  }
  
  &::-webkit-media-controls-download-button {
    display: none !important;
  }
  
  &::-webkit-media-controls-overlay-play-button {
    display: none !important;
  }
}

/* Protection contre les outils de développement */
@media print {
  .video-protected,
  video.video-protected {
    display: none !important;
  }
}

/* Masquer le contenu lors des captures d'écran */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .video-protected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 9999;
    pointer-events: none;
  }
}

/* Empêcher la sélection de texte sur tout le lecteur */
.lesson-player-protected {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  
  /* Empêcher le glisser-déposer */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  
  /* Empêcher le zoom */
  touch-action: manipulation;
  
  /* Masquer le contenu lors des captures */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Protection contre les captures d'écran avec CSS */
@supports (-webkit-appearance: none) {
  .video-protected {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

/* Empêcher l'impression du contenu */
@media print {
  .lesson-player-protected,
  .video-protected {
    display: none !important;
  }
}

/* Protection contre les outils de développement */
.dev-tools-protection {
  display: none !important;
}

/* Masquer les éléments lors des captures d'écran */
.screenshot-protection {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}